<footer>
    <div class="row footer">
        <p>&copy; 2025 Hunter Williams. All Rights Reserved. <br/>Website created using Twig, running on Lighttpd with Alpine PHP. Find the docker container <a href="https://github.com/FerrenF/alpine-lighttpd-php-twig">here</a>.</p>
    </div>
</footer>