{% extends "base.html.twig" %}

{% block content %}

<section id="about">
    <div class="row">
        <div class="divider">
            <h1>Hunter Williams</h1>
            <h2>CompSci, IT Graduate</h2>
        </div>
    </div>

    <div class="row">

        <article class="dialog box">
            <div class="embed box d_image">
                <img src="img/person1.jpg" alt="It's me. Hunter. I'm at the beach at Wassaw Island after kayaking two hours to get away from everyone after my skills.">
            </div>

            <h2>Welcome, and thank you for visiting!</h2>
            <p>I am eager to embark on a professional journey that aligns with my passion: solving real-world problems through the innovative application of algorithms,
                statistics, and machine learning. With the rapid growth of opportunities driven by technology and research,
                I am excited to bring my skills to impactful projects—perhaps with your team!</p>


            <h3>Educational Background</h3>
            <p>To build a strong foundation in technology and problem-solving, I've achieved a Bachelor of Science in Computer Science
                from <a href="https://www.georgiasouthern.edu/">Georgia Southern University</a> and an
                Associate of Applied Science in Information Technology from <a href="https://www.southeasterntech.edu/">Southeastern Technical College</a>,
                both located in Georgia, USA. These programs equipped me with both theoretical and practical expertise in computer science and IT.</p>

            <h3>Key Skills:</h3>
            <p>I am confident in my ability to contribute in the following areas:</p>

            <ul>
                <li><span>Analyzing complex problems and assessing the feasibility of implementing <b>machine learning</b> algorithms to address them effectively.</span></li>
                <li><span>Developing and managing web applications, including both <b>frontend and backend</b> systems.</span></li>
                <li><span>Collaborating in team-oriented software development projects within Agile environments.</span></li>
                <li><span>Adapting to multi-platform tools and technologies to meet evolving production needs.</span></li>
            </ul>

            <h3>Skills to hit the ground running:</h3>
            <p>The above skills might be especially attractive, but if your team sees any of the following, then I can hit the ground running for you.</p>

            <table class="skills-table">
                <tr>
                    <td>
                        <ul>
                            <li>Machine Learning</li>
                            <li>Data Analysis</li>
                            <li>Python Programming</li>
                            <li>Statistical Modeling</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Linux Administration</li>
                            <li>Database Design</li>
                            <li>API Integration</li>
                            <li>Version Control (Git)</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Cloud Computing</li>
                            <li>DevOps Practices</li>
                            <li>Web Development</li>
                            <li>Agile Workflow</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <h4>Check out some of my projects below!</h4>
        </article>

    </div>
</section>

<section id="projects">
    <div class="row">
        <div class="divider">
            <h1>Projects</h1>
        </div>
    </div>

    <div class="row">
        <div class="columns">
            <div class="column">

                {{
                include('project_card.html.twig', { projectName: 'project_godot_eliza',
                    projectImage: {src:"img/projects/gd-eliza-1.png",alt:"Main menu screen of Godot ELIZA, a GoDot ELIZA chat bot implementation."},
                    projectTitle:{classes:"img_link github",text:"Godot ELIZA",href:"https://github.com/FerrenF/GoDot-Eliza"},
                    projectDesc: "A modern implementation of the 1965 ELIZA chatbot by J.W., recreated using the Godot Game Engine and Python. This project highlights my ability to translate legacy code into contemporary frameworks, demonstrating technical proficiency and creative problem-solving.",
                    projectBullets:['Godot Game Engine: Core functionality and interactive UI elements.',
                        'Python: Translated and adapted from the original ELIZA code.',
                        'Language Interoperability: Bridging Godot and Python seamlessly to ensure smooth integration.',
                        'UI Design: An intuitive and user-friendly interface.'],
                    projectFoot:'Explore the <a href="https://github.com/FerrenF/GoDot-Eliza/releases">releases</a> on GitHub for more details and updates, or see a <b>live</b> implementation of ELIZA\'s code <a class="img_link" href="http://elizaspeaks.hwilliams.dev">here</a>.'})
                }}

            </div>

            <div class="column">

                {{
                include('project_card.html.twig', { projectName: 'project_dinostore',
                    projectImage: {src:"img/projects/dino-store-1.png",alt:"Main menu screen of GoDot ELIZA, a GoDot ELIZA chat bot implementation."},
                    projectTitle:{classes:"img_link github",text:"The Dino-Store!",href:"http://dinostore.hwilliams.dev"},
                    projectDesc: "A playful yet functional e-commerce platform showcasing the power of modern web technologies. The Dino-Store is designed to deliver dinosaurs directly to your door while demonstrating dynamic client-side rendering using DOM diffing algorithms and a REST API-driven architecture.",
                    projectBullets:['JavaScript: Core language for building dynamic and responsive web interactions.',
                        'Web Frontend/Backend Development: A seamless experience from user interface to server-side logic.',
                        'REST API Development: Designed and integrated RESTful APIs for data management and real-time updates.',
                        'Client-Side Dynamic Web Applications: Leveraged DOM diffing for efficient rendering and improved performance.'],
                    projectFoot:'Explore the <b>live</b> site <a href="http://dinostore.hwilliams.dev">here</a>, or view the codebase on <a href="https://github.com/FerrenF/DinoStore-WebApp">GitHub.</a>'})
                }}

            </div>

        </div>
    </div>

    <div class="row">
        <div class="columns">
            <div class="column">
                {{
                    include('project_card.html.twig', { projectName: 'project_lockstep',
                                                        projectImage: {src:"img/projects/lockstep-1.png",alt:"A clip of the presentation for Lockstep, a machine learning algorithm for social bot detection."},
                                                        projectTitle:{classes:"img_link github",text:"Lockstep: An Ensemble Method",href:"https://github.com/FerrenF/GoDot-Eliza"},
                                                        projectDesc: "Lockstep uses machine learning models to determine whether a user interacting on a social media site is displaying behavior that is similar to the behavior displayed by known bots. The focal idea of Lockstep is in the simplicity of and the ability to scale the architecture used in lockstep. A benefit of this simplicity is being closer to the position of being able to 'interpret' decisions made by the chosen algorithms.",
                                                        projectBullets:['Python: Using Jupyter as a platform to analyze data.',
                                                    'Machine Learning: Hyper-tuning and application of random forests and embedded models.',
                                                    'Neural Networks: Leveraging graph neural networks to spot patterns in relationships.',
                                                    'Real World Application: Behavioral analysis based on recent data and designed to be generalized to modern platforms.'],
                                                        projectFoot:'Explore the <a href="https://github.com/FerrenF/Lockstep-Original">updates</a> about this project on GitHub for more details.'})
                }}
            </div>

            <div class="column">
                {{
                include('project_card.html.twig', { projectName: 'project_firehose',
                    projectImage: {src:"img/projects/firehose-1.png",alt:"A definitely not AI-generated picture of... something plugged into an object similar to an electrical outlet, gushing water as if converting the electricity into it. Heh."},
                    projectTitle:{classes:"img_link github",text:"Python Firehose Processor",href:"https://github.com/FerrenF/GoDot-Eliza"},
                    projectDesc: "Designed to capture important information from a Bluesky Firehose relay, for use in machine learning research.",
                    projectBullets:['Python: Uses standard python libraries.',
                        'Data Mining: Converts the real-time interactions from any of Bluesky\'s firehose relays into parquet format containing only useful information.',
                        'Multithreading: Uses multithreading to simultaneously listen to the bluesky firehose via websocket, record information, and provides chunk aggregation/pre-processing services for bulk-data assignments - all at once.'],
                    projectFoot:'This project is both functional and available freely <a href="https://github.com/FerrenF/pythonFirehoseProject">here on github</a>.'})
                }}
            </div>

        </div>
    </div>


</section>

<section id="contact">
    <div class="row">
        <div class="divider">
            <h1>Contact Me</h1>
        </div>
    </div>
    <div class="row">
        <div class="dialog box full section_headers">
            <h2>I'm on <a class="img_link linkedin" href="https://www.linkedin.com/in/hwilliamsf">LinkedIn!</a></h2>
            <p>Connect with me on LinkedIn to learn more about my professional journey and stay updated on my work.</p>
            <h2><a class="img_link email" href="mailto:blockthisemail@test.com">Email Me</a></h2>
            <p>Feel free to reach out for job opportunities, collaborations, or inquiries at: <address style="margin-left: 10%"><a class="img_link" href="mailto:contact@hwilliams.dev">contact@hwilliams.dev</a></address></p>
            <p><i>Please note: No advertisements.</i></p>
            <h2>Check Out My <a class="img_link github" href="https://github.com/FerrenF">GitHub!</a></h2>
            <p>Explore my projects and code on <a href="https://github.com/FerrenF">GitHhub</a> account. If you’re searching for something specific and don’t see it there, don’t hesitate to send me an email!</p>
        </div>
    </div>
</section>

<div id="other" class="row">
    <div class="divider">
        <h1>Other News</h1>
    </div>
</div>

<div class="row">
    <div class="dialog box full section_headers">
        <h2>Visit Again Soon</h2>
        <p>Thank you for visiting! Be sure to check back in the future for new updates and exciting content.</p>
    </div>
</div>

{% endblock %}