<nav class="sidebar">
    <ul>
        <li><a href="#about"><img class="sidebar_link_img recolor_white" src="./img/icon/home.svg" alt="Home Link"/><span>About</span></a></li>
        <li><a href="#projects"><img class="sidebar_link_img recolor_white" src="./img/icon/screwdriver.svg" alt="Projects"/><span>Projects</span></a></li>
        <li><a href="#contact"><img class="sidebar_link_img recolor_white" src="./img/icon/phone.svg" alt="Contact List"/><span>Contact</span></a></li>
        <li><a id="download-button"><img class="sidebar_link_img recolor_white" src="./img/icon/document.svg" alt="Resume Download"/><span>Resume</span></a></li>
    </ul>
</nav>